<div>
    <h1>Productos</h1>

    <div id="list-products">
        {{#each listadeproductos}}
        <div>
            <div>
                <h3>{{this.title}}</h3>
                <ul>
                    <li>Codigo: {{this.code}}</li>
                    <li>ID: {{this.id}}</li>
                    <li>Descripcion: {{this.description}}</li>
                    <li>Precio: ${{this.price}}</li>
                    <li>Categoria: {{this.category}}</li>
                    <li>Estado: {{this.status}}</li>
                    <li>Stock: {{this.stock}}</li>
                    <li>Imagen: <img src="{{this.thumbnail}}" alt="{{this.title}}" width="200"></li>
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>